h1 {
    text-align: center;
    text-decoration: underline;
    color: silver;
}
h3 {
    color: silver;
    text-decoration: underline;
}

#image1 {
    background-image: none;
    width: 100%;
    height: 100%;
    display: block;
}

#conditions {
    text-align: center;
    margin-top: 2em;
}

p {
    font-size: medium;
}