* {box-sizing: border-box;}

body {
    background: url(../images/montrecollection4.jpg) no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    height: 100vh;
}

h2 {
    color: #000000;
}

.formulaire input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    resize: none;
    font-family: 'Raleway', sans-serif;
}

.formulaire input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulaire input[type=submit]:hover {
    background-color: #353535;
}

.container {
    min-height: 15vh;
    margin: 3% 8%;
    border-radius: 5px;
    background-color: #ffffffbd;
    padding: 4%;
}