footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: whitesmoke;
    color-interpolation-filters: #333;
}

.contenu-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc {
    width: 25%;
    margin: 0 30px;
}

.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3 {
    font-size: 25px;
    padding-bottom: 20px;
}

.footer-contact p {
    padding: 5px 0;
}

.liste-services,
.liste-horaires {
    list-style-type: none;
}

.liste-services li {
    padding: 20px;
}

.liste-services a {
    text-decoration: none;
    color: #333;
}

.liste-services a:hover {
    color: rgb(3,3,3);
}