body {
	margin: 0;
}

p {
    font-size: 1.5rem;
    font-weight: 500;
}

/*gif qui tourne*/
#gif {
    display: flex;
    position: relative;
    float: right;
    height: 30rem;
    padding-right: 10px;
    padding-left: 5%;
    object-fit: contain;
    width: 100%;
}

/*texte milieu de page*/
#principal article {
    display: flex;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    text-align: justify;
}
#principal article img {
    margin-left: 1rem;
}
#principal aside {
    margin-top: 0;
    vertical-align: top;
    width: 27%;
    float: right;
    height: 100%;
}
#principal aside img:first-child{
    margin-top: 100px;
    float: right;
}
#principal aside img {
    margin-left:auto;
    margin-right:auto;
    clear: both;
}
#principal aside p {
    margin-top: 0;
}